<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Sucesso</title>
</head>
<body>
    <h1>Cadastro realizado com sucesso!</h1>
    
    <p>Nome: {{ nome }}</p>
     
    <p>Link Único: https://www.vestibulinhoetec.com.br/{{ linkUnico }}</p>
    
    <p>QR Code:</p>
    <img src="{{ qrCode }}" alt="QR Code">
</body>
</html>
